{% extends 'layout.html.twig' %}

{% block content %}
    <div id="header-actu">
        <h1>Découvrez les projets </h1>
        <h1>de nos partenaires</h1>
    </div>
    <div id="actuality-post-mobil">
        {% for article in articles %}
            <div class="post-mobil">
                <h2>{{ article.title }}</h2>

                <div class="content">
                    <img src="{{ article.img }}" alt="actu-img">
                    <p>{{ article.description }}</p>
                    <form action="?action=article" method="POST"><input type="hidden" value="{{ article.id }}" name="id"><input type="submit" value="En savoir plus"></form>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="actuality-post">
        {% for article in articles %}
            <div class="post">
                <img src="{{ article.img }}" alt="actu-img">
                <div class="content">
                    <h2>{{ article.title }}</h2>
                    <p>{{ article.description }}</p>
                    <form action="?action=article" method="POST"><input type="hidden" value="{{ article.id }}" name="id"><input type="submit" value="En savoir plus"></form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}